<!-- File: graphs.html
Author: Jocelyn Chan (jchan042@bu.edu) 3/19/2026
Description: displays the list of graphs 
-->

{% extends 'voter_analytics/base.html' %}

{% block content %}

<div class="container">
    <!--link into search.html-->
    <div class="row">
        {% include "voter_analytics/search.html" %}    
    </div>

    <h1>Voter Graphs</h1>

    <!-- histogram graph by year of birth -->
    <div>
        {{ graph_div_birth|safe }}
    </div>

    <!-- pie chart -->
    <div>
        {{ graph_div_party|safe }}
    </div>

    <!-- histogram by 5 elections -->
    <div>
        {{ graph_div_elections|safe }}
    </div>
</div>
{% endblock %}