/*
File: styles.css
Author: Jocelyn Chan (jchan042@bu.edu) 1/27/2026
Description: stylesheet for the quotes app
*/

body {
    background-color: #DFC5FE;
    color: rgb(63, 60, 60);
    font-family: verdana;
}

header {
    font-size: 50px;
    text-align: center;
}

/* navigation bar */
nav {
    color: rgb(63, 60, 60);
}

/* formatting the navigation bar to get rid of bullet points*/
/* learned in cs391*/
nav ul {
    padding-left: 0;
    list-style: none;
}

/* formatting the navigation bar links to make it horizontal*/
/* learned in cs391*/
nav li {
    display: inline;
    padding: 200px;
}

h1, h2 {
    text-align: center;
}

p {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

/* color of the link before click */
a:link {
    color: rgb(45, 0, 128)
}

/* color of the link when hover */
a:hover {
    color: purple
}

/* color of the link after click */
a:visited {
    color: purple
}

img {
    text-align: center;
    display: block;
    margin: auto;
}