<!-- 
File: about.html
Author: Jocelyn Chan (jchan042@bu.edu) 1/27/2026
Description: The template for the about page that provides information 
on the person and a note about myself too 
-->

<!-- Extends from base.html -->
{% extends 'quotes/base.html' %}

{% block content %}

<!-- Quote page content begins-->
<div>
    <h1> Welcome to RM's Quote of the Day! </h1>



    <h2> About RM </h2> 
    <p>
        RM, otherwise known as Kim Namjoon, is the leader of the notable South Korean boy group 
        <a href="https://shop.bts-official.us/?srsltid=AfmBOor7QBDZrOZ4VXsgsP8XgkWZKqESr_F6P4tN4SrEfEpIwcocDFx4" target="_blank">BTS</a>.
        He is known for his profound emotional knowledge when it comes to subjects such as growth, the journey of life, and loving yourself. 
        Carrying the weight of being the leader of one of the biggest bands in the world, he has accomplished much outside of BTS' 
        <a href="https://bts.fandom.com/wiki/List_of_Awards_and_Nominations" target="_blank">480 music wins</a>
        such as giving a 
        <a href="https://www.unicef.org/press-releases/we-have-learned-love-ourselves-so-now-i-urge-you-speak-yourself" target="_blank">speech</a>
        at a UN conference as well as accepting an 
        <a href="https://www.billboard.com/photos/bts-at-white-house-joe-biden-meeting-1235079570/" target="_blank">invitation to the White House</a> from Joe Biden. 
    </p>

    <!-- Header for about me section -->
    <h2> About the creator </h2>
    <p>
        Jocelyn, a third year student at BU studying CS with a minor in DS, has been a fan of BTS for 8 years! 
    </p>
</div>
 
 
{% endblock %}