<!-- 
File: base.html
Author: Jocelyn Chan (jchan042@bu.edu) 2/12/2026
Description: A base template that other pages can build off upon
 -->

{% load static %}
<html>
    <head>
        <title>Mini Instagram</title>
        <link rel="stylesheet" href="{% static 'mini_insta.css' %}">
    </head>

    <body>
        <!--Header-->
        <header>
            <h1>Mini Instagram</h1>
        </header>
        
        <!--Content other pages insert-->
        {% block content %}
        {% endblock %}

        <!--Footer-->
        <footer>
            <nav>
                <ul>
                    <!-- Home: links to feed if profile exists, else all profiles -->
                    {% if profile %}
                        <li><a href="{% url 'feed' profile.pk %}"><img src="https://cdn-icons-png.flaticon.com/512/5974/5974907.png" alt="Home Button"></a></li>
                    {% else %}
                        <li><a href="{% url 'show_all_profiles' %}"><img src="https://cdn-icons-png.flaticon.com/512/5974/5974907.png" alt="Home Button"></a></li>
                    {% endif %}

                    <!-- Create post button -->
                    {% if profile %}
                        <li><a href="{% url 'create_post' profile.pk %}"><img src="https://www.pngmart.com/files/21/Add-Button-PNG.png" alt="Add a post button"></a></li>
                    {% endif %}

                    <!-- Search link -->
                    {% if profile %}
                        <li><a href="{% url 'search' profile.pk %}"><img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" alt="Search Button"></a></li>
                    {% endif %}

                    <!-- Profile link -->
                    {% if profile %}
                        <li><a href="{% url 'profile' profile.pk %}"><img src="https://cdn-icons-png.flaticon.com/512/1077/1077063.png" alt="Profile Button"></a></li>
                    {% endif %}
                </ul>
            </nav>
        </footer>
    </body>
</html>