<!-- 
File: show_all_profiles.html
Author: Jocelyn Chan (jchan042@bu.edu) 2/12/2026
Description: The page to display all of the instagram profiles 
 -->

{% extends 'mini_insta/base.html' %}

{% block content %}

<h2>All Profiles</h2>

<!-- start main -->
<main>
    <div class="grid">
        <!-- Loop to display all profiles -->
        {% for profile in profiles %}
        <!-- Make the whole div clickable -->
        <a href="{% url 'profile' profile.pk %}">
            <div class="profile-item">
                <img src="{{ profile.profile_image_url }}" alt="{{ profile.username }}'s profile picture">
                <h3>@{{ profile.username }}</h3>
                <p>{{ profile.display_name }}</p>
            </div>
        </a>
        
        {% endfor %}
        <!-- End for loop -->
    </div>
</main>

{% endblock %}
