<!-- 
File: show_profile.html
Author: Jocelyn Chan (jchan042@bu.edu) 2/12/2026
Description: The page to display one single profile
 -->

{% extends 'mini_insta/base.html' %}

{% block content %}

<!-- Display username -->
<h2>@{{profile.username}}</h2>

<div class="profile-container">
    <!-- Profile Header Section -->
    <div class="profile-header">
        <!-- Profile Picture -->
        <div class="profile-image">
            <img src="{{ profile.profile_image_url }}" alt="{{ profile.username }}'s profile picture">
        </div>

        <!-- Profile Information -->
        <div class="profile-info">
            <!-- Display Name -->
            <div class="profile-display-name">
                <h1>{{ profile.display_name }}</h1>
            </div>

            <!-- Followers/Following -->
            <div class="profile-stats">
                <div class="stat-item">
                    <div class="stat-number">TBD</div>
                    <div>posts</div>
                </div>
                <div class="stat-item">
                    <div class="stat-number">TBD</div>
                    <div>followers</div>
                </div>
                <div class="stat-item">
                    <div class="stat-number">TBD</div>
                    <div>following</div>
                </div>
            </div>
            <div class="join">
                <div>Joined: {{ profile.join_date }}</div>
            </div>
        </div>
    </div>

    <!-- Bio section -->
    <div class="bio-section">
        <div class="profile-bio">{{ profile.bio_text }}</div>
    </div>

    <!-- Posts -->
    <div class="posts-section">
        <div class="posts-header"><h1>POSTS</h1></div>

        <div class="posts-grid">
            {% for post in profile.get_all_posts %}
                <a href="{% url 'post' post.pk %}">
                    <div class="post-item">
                        {% with photos=post.get_all_photos %}
                            {% if photos %}
                                <img src="{{ photos.first.image_url }}" alt="Post photo">
                            {% else %}
                                <img src="https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-thumbnail-graphic-illustration-vector-png-image_40966590.jpg" 
                                alt="No image available">
                            {% endif %}
                        {% endwith %}
                    </div>
                </a>
                <!-- If no posts -->
                {% empty %}
                <p>No posts yet.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}