<!-- 
File: show_post.html
Author: Jocelyn Chan (jchan042@bu.edu) 2/16/2026
Description: The page to display the contents of a post
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

<!-- Display username -->
<h2>@{{ post.profile.username }}'s Post</h2>

<div class="post-detail-container">

    <!-- Left is photos only -->
    <div class="post-left">
        <div class="post-photos">
            {% for photo in post.get_all_photos %}
                <img src="{{ photo.get_image_url }}" alt="Post photo">
            {% empty %}
                <img src="https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-thumbnail-graphic-illustration-vector-png-image_40966590.jpg" 
                alt="No image available">
            {% endfor %}
        </div>
        <!-- Links at the bottom -->
        <div class="post-left-links">
            <a class="back-link" href="{% url 'profile' post.profile.pk %}">Back to @{{ post.profile.username }}</a>
            <a class="update-link" href="{% url 'update_post' post.pk %}">Update Post</a>
            <a class="delete-link" href="{% url 'delete_post' post.pk %}">Delete Post</a>
        </div>
    </div>

    <!-- Right is caption, then comments below -->
    <div class="post-right">

        <!-- Caption and timestamp -->
        <div class="post-info">
            <!-- Like count -->
            <div class="like-count">
               {{ post.get_likes.count }} likes
            </div>
            <p class="post-caption"><b>@{{post.profile.username}}: </b>{{ post.caption }}</p>
            <br>
            <small class="post-timestamp">{{ post.timestamp }}</small>
        </div>

        <hr>

        <!-- Comments section -->
        <div class="post-comments">
            <h3>Comments</h3>
            {% for comment in post.get_all_comments %}
                <div class="comment-item">
                    <p><b>@{{ comment.profile.username }}</b> {{ comment.text }}</p>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>

    </div>

</div>

{% endblock %}